@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

body {
  margin: 0px;
  font-family: Roboto, sans-serif;
}

.navbar a {
  text-decoration: none;
  color: #ffffff;
  font-size: 18px;
}

.logo {
  width: 50px;
  height: 50px;
  border: 2px solid #e6321a;
  border-radius: 50%;
  transition: transform 1s ease-out;
}

.navbar {
  display: flex;
  justify-content: space-between;
  background-color: #000000;
}

.div-left,
.div-right {
  display: flex;
  align-items: center;
  gap: 15px;
  padding: 8px;
}

label {
  color: #ffffff;
  font-family: monospace;
  font-size: 20px;
  transition: 0.5s ease-out;
}

.navbar a:hover {
  color: #e6321a;
  font-weight: bold;
  transition: 0.3s ease-out;
  font-size: 20px;

}

label:hover {
  color: #dee61a;
  font-weight: bold;
  font-size: 25px;
}

.logo:hover {

  transform: rotate(360deg);
}

.div-header {
  display: flex;
  justify-content: center;
  gap: 20px;
  background-color: #3e6f4e;
  color: #ffffff;
  padding: 50px;
}

.picture {
  width: 500px;
  height: auto;
  border: 5px solid #ffffff;
  transition: 0.5s ease-out;
}

.div-info,
.div-picture {
  display: flex;
  flex-direction: column;
  margin: 50px;
  flex-basis: 400px;
}

.div-info {
  align-items: flex-start;
}

.title {
  font-family: "Franklin Gothic Medium";
  font-size: 48px;
}

p {
  font-size: 18px;
  margin-top: -5px;
}

.button-info {
  width: 120px;
  height: 40px;
  padding: 5px;
  color: #ffffff;
  background-color: #000000;
  border: 3px solid #ffffff;
  font-size: 18px;
  font-weight: bold;
  transition: color 0.25s, border-color 0.25s, box-shadow 0.25s, transform 0.25s;
}

.button-info:hover {
  color: #000000;
  background-color: #ffffff;
  border: 3px solid #dee61a;
  box-shadow: 0 0.5em 2em 0.5em #dee61a;
  transform: translateY(-0.15em);
  cursor: pointer;
}

.picture:hover {
  border: 5px solid #000000;
  transform: scale(1.05);
}

h2 {
  text-align: center;
  margin: 0;
  padding: 25px;
}

.div-characters {
  background-color: #d2c4ae;
  padding: 20px;
}

.div-character-info {
  display: flex;
  flex-direction: column;
}

.div-characters-pictures {
  display: flex;
  justify-content: space-evenly;
}

.div-characters-pictures img {
  width: 200px;
  height: 200px;
  border: 5px solid #000000;
  transition: 0.3s ease-out;
}

.div-characters-pictures p {
  padding: 10px;
  margin: 0;
}

.div-characters-pictures img:hover {
  border: 5px solid #a3230d;
  transform: scale(1.05);
  box-shadow: 0 0.5em 2em 0.5em #a3230d;
}

.div-characters a {
  text-decoration: none;
  color: #000000;
  font-size: 18px;
}